- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug
		main.page-container(class="text-page")
			include blocks/navigation-home.pug
			include blocks/arrow-text-page.pug
			section.text-page 
				.container 
					.text-page__text 
						h1.main-title Текстовая страница
						p.text Мы весь год держали тебя в курсе значимых новинок архитектуры, на основе этого выбрали студию года, а теперь самое время выделить лучшие объекты в мире архитектуры 2020 года.<br><br>Общественный центр Дарлинг по проекту Кенго Кумы стал дебютом именитого японского архитектора на Зеленом континенте. Получилось шестиэтажное здание спиральной формы, которое визуально смахивает на гнездо из хвороста, деликатес с медовой паутинкой или моток ниток.
					img.text-page__img-one(src=img+"unsplash_l5if0iQfV4c.png", alt="")
					p.text Мы весь год держали тебя в курсе значимых новинок архитектуры, на основе этого выбрали студию года, а теперь самое время выделить лучшие объекты в мире архитектуры 2020 года.<br><br>Общественный центр Дарлинг по проекту Кенго Кумы стал дебютом именитого японского архитектора на Зеленом континенте. Получилось шестиэтажное здание спиральной формы, которое визуально смахивает на гнездо из хвороста, деликатес с медовой паутинкой или моток ниток.
					.text-page__table 
						table 
							thead 
								tr 
									td Наименования
									td ГОСТ
									td Длина
									td Диаметр
									td Толщина стенки
									td Марка стали
							tbody 
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х2.35 уценка
									td(data-label="ГОСТ") ТУ 14-157-09-98
									td(data-label="Длина") 6000,7800,10000
									td(data-label="Диаметр") 10.00
									td(data-label="Толщина") 1.00
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х2.35 уценка
									td(data-label="ГОСТ") ГОСТ 8733-74
									td(data-label="Длина") 7800
									td(data-label="Диаметр") 10.00
									td(data-label="Толщина") 1.00
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х2.35 уценка
									td(data-label="ГОСТ") DIN EN 10217-7
									td(data-label="Длина") 8000-8250
									td(data-label="Диаметр") 10.00
									td(data-label="Толщина") 2.50
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х2.8 6м
									td(data-label="ГОСТ") DIN EN 10217-7
									td(data-label="Длина") 6000
									td(data-label="Диаметр") 12.00
									td(data-label="Толщина") 2.50
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х2.8 7.8м
									td(data-label="ГОСТ") DIN EN 10217-7
									td(data-label="Длина") 7800
									td(data-label="Диаметр") 12.00
									td(data-label="Толщина") 2.80
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х2.8 н/д
									td(data-label="ГОСТ") DIN EN 10217-7
									td(data-label="Длина") немерная
									td(data-label="Диаметр") 14.00
									td(data-label="Толщина") 2.80
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х3
									td(data-label="ГОСТ") ГОСТ 8733-74
									td(data-label="Длина") 6000,7800,10000
									td(data-label="Диаметр") 14.00
									td(data-label="Толщина") 2.80
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х3.2 6.1м
									td(data-label="ГОСТ") ГОСТ 8733-74
									td(data-label="Длина") 6100
									td(data-label="Диаметр") 16.00
									td(data-label="Толщина") 3.00
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х3.2 6м
									td(data-label="ГОСТ") ГОСТ 8733-74
									td(data-label="Длина") 6000
									td(data-label="Диаметр") 16.00
									td(data-label="Толщина") 3.00
									td(data-label="Марка стали") Ст1-3
								tr 
									td(data-label="") Труба ВГП (водогазопроводная) 15х3.2 7.8м
									td(data-label="ГОСТ") ГОСТ 8733-74
									td(data-label="Длина") 7800
									td(data-label="Диаметр") 18.00
									td(data-label="Толщина") 3.00
									td(data-label="Марка стали") Ст1-3
					.text-page__images 
						img(src=img+"unsplash_shr_Xn8S8QU.png", alt="")
						img(src=img+"unsplash_VHXiGXxwOQ4.png", alt="")
						img(src=img+"unsplash_OMhubJCrtu0.png", alt="")
					p.text По проекту норвежского архитектурного бюро Snøhetta в норвежском городе Порсгрунн завершено строительство здания с положительным энергобалансом.
					img.text-page__img-two(src=img+"unsplash_B_j4LJbam5U.png", alt="")
					.text-page__text 
						h1.main-title Жилой небоскреб в Сингапуре
						p.text В 2020 году был окончательно завершен 20-этажный жилой небоскреб в Сингапуре по проекту Heatherwick Studio, который был спроектирован как противовес распространенным стеклянным и стальным башням. Сделано это было умышленно, ведь именно Сингапур успел себя зарекомендовать тропическим мегаполисом, «городом-садом».
					.text-page__list-square
						ul 
							li Жилой дом под названием EDEN, высотой 104,5 метра, в районе Ньютон в Сингапуре состоит из вертикального ряда апартаментов, каждый из которых имеет свой сад.
							li Дом моды Louis Vuitton открыл новый четырехуровневый флагманский магазин на бульваре Микосудзи в Осаке
							li Новый Louis Vuitton Maison Osaka Midosuji находится на оживленной торговой улице Синсайбаши-Суджи.
					img.text-page__img-three(src=img+"unsplash_leqrylJNYUQ.png", alt="")
					p.text В 2020 году был окончательно завершен 20-этажный жилой небоскреб в Сингапуре по проекту Heatherwick Studio, который был спроектирован как противовес распространенным стеклянным и стальным башням. Сделано это было умышленно, ведь именно Сингапур успел себя зарекомендовать тропическим мегаполисом, «городом-садом».
					.text-page__testimodals 
						.flex 
							<svg><use xlink:href="#testi"></use></svg>
							.text-page__testimodals-text 
								h3 Здание очень грамотно спроектировано, с учетом сложных климатических условий, где среднегодовая температура выше 35 градусов по Цельсию в тени. Именно поэтому здесь отлично реализована система затенения  и естественной вентиляции.
								p LOUIS VITON
					.text-page__list-number
						ul 
							li Жилой дом под названием EDEN, высотой 104,5 метра, в районе Ньютон в Сингапуре состоит из вертикального ряда апартаментов, каждый из которых имеет свой сад.
							li Дом моды Louis Vuitton открыл новый четырехуровневый флагманский магазин на бульваре Микосудзи в Осаке
							li Новый Louis Vuitton Maison Osaka Midosuji находится на оживленной торговой улице Синсайбаши-Суджи.
					p.text По проекту известного архитектурного бюро Sanjay Puri Architects реализован важный для индийской местности Раджастхана социальный объект. Им удалось спроектировать трехуровневую школу с открытыми, закрытыми и полузакрытыми пространствами различного объема, умело вписав ее в ландшафт индийских деревень и старых городов, находящихся рядом.
					.text-page__media 
						p Поделиться:
						.flex 
							a(href="#") 
								<svg width="50" height="50"><use xlink:href="#teg"></use></svg>
							a(href="#")
								<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect width="50" height="50" rx="15" fill="#C4C4C4"/>
									<rect width="50" height="50" rx="15" fill="url(#paint0_linear_269_3021)"/>
									<path d="M30.4083 38H19.5917C15.4055 38 12 34.5945 12 30.4083V19.5917C12 15.4055 15.4055 12 19.5917 12H30.4083C34.5945 12 38 15.4055 38 19.5917V30.4083C38 34.5945 34.5945 38 30.4083 38ZM19.5917 14.2034C16.6205 14.2034 14.2034 16.6205 14.2034 19.5917V30.4083C14.2034 33.3795 16.6205 35.7966 19.5917 35.7966H30.4083C33.3795 35.7966 35.7966 33.3795 35.7966 30.4083V19.5917C35.7966 16.6205 33.3795 14.2034 30.4083 14.2034H19.5917Z" fill="white"/>
									<path d="M25.0001 32.0509C21.1123 32.0509 17.9492 28.8878 17.9492 25.0001C17.9492 21.1123 21.1123 17.9492 25.0001 17.9492C28.8878 17.9492 32.0509 21.1123 32.0509 25.0001C32.0509 28.8878 28.8878 32.0509 25.0001 32.0509ZM25.0001 20.1526C22.327 20.1526 20.1526 22.327 20.1526 25.0001C20.1526 27.6731 22.327 29.8475 25.0001 29.8475C27.6731 29.8475 29.8475 27.6731 29.8475 25.0001C29.8475 22.327 27.6731 20.1526 25.0001 20.1526Z" fill="white"/>
									<path d="M33.0667 17.9416C33.0667 18.4984 32.6151 18.95 32.0583 18.95C31.5014 18.95 31.0498 18.4984 31.0498 17.9416C31.0498 17.3847 31.5014 16.9331 32.0583 16.9331C32.6151 16.9331 33.0667 17.3847 33.0667 17.9416Z" fill="white"/>
									<defs>
										<linearGradient id="paint0_linear_269_3021" x1="4.57703" y1="45.4233" x2="45.423" y2="4.57672" gradientUnits="userSpaceOnUse">
										<stop stop-color="#FFC107"/>
										<stop offset="0.507" stop-color="#F44336"/>
										<stop offset="0.99" stop-color="#9C27B0"/>
										</linearGradient>
									</defs>
								</svg>
							a(href="#") 
								<svg width="50" height="50"><use xlink:href="#facebock"></use></svg>
								
			svg(width="0" height="0" class="hidden")
				<symbol width="60" height="46" viewBox="0 0 60 46" fill="none" xmlns="http://www.w3.org/2000/svg" id="testi">
					<path d="M42.8669 39.5915L28.7891 13.7069C27.3813 11.8784 26.8534 9.64995 27.2054 7.0215C27.5573 4.39304 28.9651 2.45027 31.4287 1.19318C36.5906 -1.43527 40.7552 0.278934 43.9227 6.33581L58.0005 32.049C61.2854 37.9916 60.5228 42.2199 55.7129 44.7341C50.4337 47.4769 46.1517 45.7627 42.8669 39.5915ZM15.7671 39.5915L1.68934 13.7069C0.281556 11.8784 -0.246361 9.64995 0.105583 7.0215C0.457529 4.39304 1.86531 2.45027 4.32892 1.19318C9.49079 -1.43527 13.6555 0.278934 16.823 6.33581L30.9008 32.049C34.1856 37.9916 33.423 42.2199 28.6131 44.7341C23.334 47.4769 19.052 45.7627 15.7671 39.5915Z" fill="#A755ED"/>
				</symbol>
				<symbol width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg" id="teg">
					<rect width="50" height="50" rx="15" fill="#0088CC"/>
					<path d="M13.2106 22.6696L36.2684 14.1048C37.3386 13.7324 38.2733 14.3563 37.9265 15.9153L37.9285 15.9134L34.0025 33.7322C33.7115 34.9955 32.9323 35.3027 31.8422 34.7075L25.8635 30.4625L22.9798 33.1389C22.6609 33.4461 22.3919 33.7053 21.7741 33.7053L22.1986 27.8438L33.2791 18.2C33.7613 17.7911 33.1714 17.5607 32.5357 17.9677L18.8425 26.2733L12.9396 24.4993C11.6582 24.1076 11.6303 23.2648 13.2106 22.6696Z" fill="white"/>
				</symbol>
				<symbol width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg" id="facebock">
					<g clip-path="url(#clip0_269_3027)">
					<rect y="-0.112305" width="50" height="50" rx="15" fill="#1877F2"/>
					<path d="M30.4765 25.973H26.6206V40H20.7785V25.973H18V21.0434H20.7785V17.8534C20.7785 15.5721 21.8698 12 26.6726 12L31 12.018V16.803H27.8602C27.3451 16.803 26.621 17.0585 26.621 18.1467V21.048H30.9869L30.4765 25.973Z" fill="white"/>
					</g>
					<defs>
					<clipPath id="clip0_269_3027">
					<rect width="50" height="50" fill="white"/>
					</clipPath>
					</defs>
				</symbol>
		include blocks/footer.pug
		include blocks/scripts.pug